{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ account.login }}</td>
            </tr>
            <tr>
                <th>Pass</th>
                <td>{{ account.pass }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ account.email }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ account.avatar }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ account.picture }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ account.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ account.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('account_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('account_edit', { 'id': account.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
